// -------- Accordion --------

@use '../base/variables' as *;
@use '../base/mixins' as *;

.accordion {
  &__item {
    position: relative;
    cursor: pointer;
    margin-bottom: 3.6rem;
    padding-left: 4rem;

    &::before {
      position: absolute;
      top: 0.1rem;
      left: 0;
      border: 0.1rem solid $white;
      border-radius: 50%;
      width: 1.4rem;
      height: 1.4rem;
      transition: 0.2s ease-in-out background-color;
      content: '';

      @media ($tablet) {
        top: 0.8rem;
      }
    }

    &::after {
      position: absolute;
      top: 1rem;
      left: 0.6rem;
      background-color: $white;
      width: 0.2rem;
      height: 0rem;
      transition: 0.2s ease-in-out height;
      content: '';
    }

    &.active::before {
      background-color: $white;
    }

    &.active::after {
      height: 10rem;
    }

    &.active .accordion__text {
      opacity: 1;
      max-height: initial;
      opacity: 1;
    }
  }

  &__title {
    @include title2($primary);
    margin-bottom: 0.5rem;

    @media ($tablet) {
      font-size: 3.6rem;
    }
  }

  &__text {
    @extend %text;
    max-height: 0;
    overflow: 0;
    max-width: 36.2rem;
    opacity: 0;
    transition: 0.2s ease-in-out all;
  }
}

// -------- Accordion --------
