// -------- Burger --------

@use '../base/variables' as *;

.burger {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 2.3rem;
  height: 1.7rem;

  @media ($desktop) {
    display: none;
  }

  &::before,
  & > span,
  &::after {
    position: absolute;
    right: 0;
    transition: 0.4s ease-in-out all;
    border-radius: 0.3rem;
    background-color: $white;
    height: 0.25rem;
    content: '';
  }

  &::before {
    top: 0;
    width: 100%;
  }

  & > span {
    width: 80%;
  }

  &::after {
    bottom: 0;
    width: 60%;
  }

  &.active::before {
    top: 0.75rem;
    transform: rotate(45deg);
  }

  &.active > span {
    opacity: 0;
  }

  &.active::after {
    bottom: 0.7rem;
    transform: rotate(-45deg);
    width: 100%;
  }
}

// -------- Burger --------
