// -------- Form --------

@use '../base/variables' as *;
@use '../base/mixins' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  margin: 0 auto;
  width: 100%;

  @media (min-width: 540px) {
    width: 80%;
  }

  @media ($tablet) {
    flex-direction: row;
    width: 100%;
  }

  &__email {
    flex: 0 1 60%;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.08);
    padding: 1.5rem;
    color: $primary;
    font-size: 1.6rem;
    font-family: $secondary-font;

    &::placeholder {
      font-family: $secondary-font;
    }

    @media ($tablet) {
      padding: 2rem;
      font-size: 1.8rem;
    }
  }

  &__submit {
    flex: 0 1 40%;
    @include btn;
  }
}

// -------- Form --------
