// -------- Navigation --------

@use '../base/variables' as *;
@use '../base/mixins' as *;

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;

  // Модификатор для мобильной версии (header)
  &--mobile {
    position: fixed;
    top: -100%;
    right: 0;
    z-index: 3;
    transition: 0.5s ease-in-out all;
    border-radius: 40%;
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;

    @media ($desktop) {
      position: static;
      background: none;
      border-radius: 0;
    }

    &.active {
      top: 0;
      border-radius: 0;
    }

    .navigation__list {
      flex-direction: column;
      gap: 4rem;
      text-align: center;

      @media ($desktop) {
        flex-direction: row;
        gap: 5rem;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(2rem, 5vw, 5rem);

    @media ($tablet) {
      justify-content: initial;
    }
  }

  &__link {
    @extend %link;
    @extend %hover-anim;
  }
}

// -------- Navigation --------
