// -------- Mixins --------

// Imports

@use './variables' as *;

@mixin title1($align: left) {
  color: $white;
  font-weight: 700;
  font-size: 3.3rem;
  font-family: $main-font;
  letter-spacing: 0.09em;
  text-align: $align;
  text-transform: uppercase;

  @media ($tablet) {
    font-size: 8rem;
    letter-spacing: 0.04em;
  }
}

@mixin title2($color: $white) {
  margin-bottom: 0.8rem;
  color: $color;
  font-weight: 700;
  font-size: 1.8rem;
  font-family: $main-font;
  letter-spacing: 0.11em;

  @media ($tablet) {
    font-size: 2.4rem;
    letter-spacing: 0.4rem;
  }
}

%text {
  color: $white;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 114%;
  font-family: $secondary-font;
  text-align: justify;

  @media ($tablet) {
    font-size: 1.8rem;
    line-height: 122%;
  }
}

%highlighted {
  font-weight: 700;
}

%mount {
  position: relative;
  z-index: 3;

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    left: 0;
    background-color: $primary;
  }
}

@mixin btn($padding: 1.5rem 1rem) {
  display: inline-block;
  transition: 0.2s ease-in-out background-color;
  border-radius: 0.4rem;
  background-color: $primary;
  padding: $padding;
  color: #1a1917;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1;
  font-family: $secondary-font;
  text-align: center;

  &:hover {
    background-color: $white;
  }

  @media ($tablet) {
    padding: 1.8rem 3rem;
    font-size: 1.6rem;
  }
}

%hover-anim {
  transition: 0.2s ease-in-out color;

  &:hover {
    color: $primary;
  }
}

%link {
  color: $white;
  font-weight: 700;
  font-size: 1.2rem;
  font-family: $secondary-font;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

// -------- Mixins --------
