// -------- Reset Styles --------

* {
  margin: 0;
  border: 0;
  padding: 0;

  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

:focus,
:active {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;

  &:focus {
    outline: 1px solid #ffb548;
    border-radius: 3px;
    outline-offset: 5px;
  }

  &:active {
    outline: none;
  }

  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-size: 10px;
  line-height: 1;

  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;

  &:active {
    outline: none;
  }

  &:focus {
    outline: 1px solid #ffb548;
    border-radius: 3px;
    outline-offset: 5px;
  }
}

input {
  &::-ms-clear {
    display: none;
  }
}

button {
  cursor: pointer;
  background: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

ul {
  li {
    list-style: none;
  }
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-size: inherit;
}

// -------- Reset Styles --------
