// -------- Variables --------

// Colors

$primary: #ffb548;
$white: #ffffff;
$dark: #1a1917;

// Fonts

$main-font: 'Bebas Neue', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

// Screens

$tablet: 'min-width: 767px';
$desktop: 'min-width: 1024px';

// -------- Variables --------
