// -------- Features --------

@use '../base/variables' as *;
@use '../base/mixins' as *;

.features {
  position: relative;
  background: url(../../assets/images/features-bg.jpg) center / cover no-repeat;
  height: 100vh;

  @media ($tablet) {
    padding: 0;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    content: '';
  }

  @media ($tablet) {
    &::before {
      display: none;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__inner {
    position: relative;
    z-index: 3;
    margin-left: clamp(5rem, 10vw, 15rem);

    @media ($tablet) {
      margin-left: clamp(0rem, 50vw, 60rem);
    }
  }

  &__pretitle {
    @include title2;
  }

  &__title {
    @include title1;
    margin-bottom: 3rem;

    @media ($tablet) {
      margin-bottom: 7rem;
    }
  }

  // &__accordion {
  // }
}

// -------- Features --------
