// -------- Footer --------

@use '../base/variables' as *;
@use '../base/mixins' as *;

.footer {
  background: #080a0b;
  padding: 2rem 0 4.7rem;

  // &__container {
  // }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    border-bottom: 0.1rem solid #777;
    padding-bottom: 3rem;

    @media ($tablet) {
      flex-direction: row;
    }
  }

  &__logo {
    & > img {
      max-width: 6rem;
      display: block;
      height: auto;

      @media ($tablet) {
        max-width: initial;
      }
    }
  }

  // &__navigation {
  // }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: clamp(2rem, 5vw, 4rem);
  }

  // &__item {
  // }

  &__link {
    @extend %link;
    @extend %hover-anim;
  }

  // &__social-list {
  // }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;

    @media ($tablet) {
      flex-direction: row;
    }
  }

  &__copyright {
    opacity: 0.5;
    color: #fff;
    font-size: 1.4rem;
    font-family: $secondary-font;
  }

  // &__info-links {
  // }
}

.info-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  // &__item {
  // }

  &__link {
    @extend %link;
    @extend %hover-anim;
  }
}

// -------- Footer --------
