// -------- Hero --------

@use '../base/variables' as *;
@use '../base/mixins' as *;

.hero {
  height: 100vh;
  background: url(../../assets/images/hero-bg.webp) center / cover no-repeat;
  background-attachment: fixed;

  &__container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  &__title {
    @include title1();
    margin-bottom: 0.7rem;
    text-align: center;
  }

  &__subtitle {
    @include title2();
    text-align: center;
    margin-bottom: 1.2rem;

    @media ($tablet) {
      margin-bottom: 2.8rem;
    }
  }

  &__btn {
    @include btn();
  }

  &__scroll-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5rem;

    &:hover {
      & > span {
        color: $primary;
      }
    }

    & > span {
      font-family: $secondary-font;
      font-weight: 700;
      color: $white;
      line-height: 183%;
      font-size: 1.4rem;
      text-align: center;
      margin-bottom: 0.5rem;
      transition: 0.2s ease-in-out color;
    }

    // & > img {
    // }
  }
}

// -------- Hero --------
