// -------- Newsletter --------

@use '../base/variables' as *;
@use '../base/mixins' as *;

.newsletter {
  position: relative;
  background: #080a0b url(../../assets/images/newsletter-bg.png)
    clamp(0%, 10vw, 20%) 50% no-repeat;
  height: 80vh;

  &::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100%;
    content: '';

    @media ($tablet) {
      display: none;
    }
  }

  &__container {
    position: relative;
    z-index: 2;
    height: 100%;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    max-width: 67rem;
    height: 100%;
  }

  &__pretitle {
    @include title2;
  }

  &__title {
    @include title1;
    margin-bottom: 2rem;

    @media ($tablet) {
      margin-bottom: 4.5rem;
    }
  }

  &__text {
    @extend %text;
    margin-bottom: 6.5rem;
  }

  // &__form {
  // }
}

// -------- Newsletter --------
